* {
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}
.container {
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
}
.container > img {
  width: 300px;
  height: 450px;
  margin-right: 17px;
}
.img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
.description {
  width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}
.description h1 {
  font-family: 'Fraunces', serif;
  width: 200px;
  margin-bottom: 26px;
  line-height: 1em;
  color: hsl(212, 21%, 14%);
}
.description span {
  font-size: 12px;
  letter-spacing: 5px;
  margin-top:15px;
  margin-bottom: 21px;
}
.description > p {
  width: 240px;
  font-size: 14px;
  line-height: 1.55em;
  color:hsl(228, 12%, 48%);
}
.category {
  color: hsl(240, 1%, 44%);
}
.price {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
}
.price p:first-child {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-size: 31px;
  margin-right: 20px;
}
.price p:last-child {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 13px;
}
.btn-area {
  display: flex;
  align-items: center;
}
button {
  width: 236px;
  height: 48px;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
button img {
  display: inline-block;
  margin-right: 12px;
}
button:hover {
  background-color: hsl(212, 21%, 14%);
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
  }
  .container {
    flex-direction: column;
    justify-content: unset;
    width: 343px;
    height: 610px;
  }
  .img-mobile {
    display: block;
  }
  .img-desktop {
    display: none;
  }
  .container > img {
    width: 343px;
    height: 240px;
    justify-content: flex-start;
  }
  .description {
    padding-left: 25px;
  }
  .description span {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .description h1 {
    width: 277px;
    margin-bottom: 17px;
  }
  .description > p {
    width: 292px;
  }
  .price {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .btn-area {
    width: 295px;
    height: 48px;
  }
  button {
    width: 295px;
    height: 48px;
  }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }